@import "../../styles/base.scss";
@import "../../styles/mixins/flex-align";

.title {
  border: 1px solid red;
  @include flex-row(flex-start, center, wrap);
  height: 100px;
  padding-left: 20px;

  .title-text {
    padding-left: 10px;
    margin-right: 15px;
    font-size: $page-header-label-font;
  }

  .title-action {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $button-add-background;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
    @include flex-row(center, center, initial);
  }
}

.controls-list {
  border: 1px solid red;

  .list-header {
    border: 1px solid red;
  }
  .list-row {
    border: 1px solid red;
  }
}
