$primary-color: black;
$body-background: #ffffff;
$page-background: #faf7fc;
$primary-font-color: #6c5b72;

$table-header-font-color: #ae9fb4;
$table-row-back-ground: #ffffff;

$button-text-color: #ffffff;
$button-background-color: #32cd32;

$button-add-background: #680cea;

$border-color: #ece9f0;
