$body-font-size: 14px;

$content-area: 95%; // Based on resulition this can be changed

$q-ctrl-font: ("Helvetica", "arial", "freesans", "clean", "sans-serif");

$page-header-label-font: 18px;
$table-header-font: 13px;
$body-text: 14px;
