@import "./styles/base.scss";
@import "./styles/mixins/flex-align";

.app {
  background-color: $page-background;
  @include flex-row(center, center, wrap);

  .header {
    @include flex-row(flex-start, center, wrap);
    height: 80px;
    width: 100%;
    background-color: $body-background;
    .logo {
      height: 60px;
      padding-left: 20px;
    }
    color: $primary-font-color;
  }
  .content-area {
    width: 80%;
    background-color: $page-background;
  }
}
